{% load static %}
<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <title>Healing{% block 'title' %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'geral/css/base.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
        {% block 'head' %}{% endblock 'head' %}
    </head>
    <body>
        {% block 'navbar' %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <nav class="navbar bg-body-tertiary">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="#">
                                <img src="{% static 'geral/icons/botao-de-menu-circular-azul-32px.png' %}" alt="Logo" class="d-inline-block align-text-top">
                                Menu
                            </a>
                        </div>
                    </nav>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                        </form>
                    </div>
                </div>
            </nav>
        {% endblock 'navbar' %}

        
        {% block 'body' %}
        <div class="container-fluid">
            
            {% block 'alertas' %}
                <div class="alert alert-primary" role="alert"> {% comment %} Quando criar o usurio mas precisar ativar o usurio {% endcomment %}
                    Um alerta primário simples <a href="#" class="alert-link">com um link de exemplo</a>. Dê um clique se quiser.
                </div>
                <div class="alert alert-success" role="alert"> {% comment %} Quando criar o usurio e ativar o usurio {% endcomment %}
                    Um simples alerta de sucesso - confira!
                </div>
            {% endblock 'alertas' %}
            
                <div class="row">
                    <div class="col-md d-flex justify-content-center">
                        {% block 'content' %}{% endblock 'content' %}
                    </div>
                </div>
            </div>
        {% endblock 'body' %}

        {% block 'scripts' %}<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>{% endblock 'scripts' %}

        {% block 'rodape' %}{% endblock 'rodape' %}
        
    </body>
</html>